@media (max-width: 782px) {
    .is-style-center-mobile {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-align: -webkit-center;
        align-items: center;
    }
}
