@media ( max-width:782px ) {
    .is-style-stack-buttons-mobile {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }

    .is-style-stack-buttons-mobile .wp-block-button {
        width: 100%;
        max-width: 20rem;
    }

    .is-style-stack-buttons-mobile .wp-block-button .wp-block-button__link {
        display: block;
        text-align: center;
        width: 100%;
    }
}
