<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","align":"full"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Page not found...</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Unfortunately, we couldn't find anything with that URL.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:buttons {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|40"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"primary","width":50,"className":"is-style-outline","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline"><a class="wp-block-button__link has-primary-color has-text-color has-link-color wp-element-button">View More Houses</a></div>
<!-- /wp:button -->

<!-- wp:button {"textColor":"primary","width":50,"className":"is-style-outline","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline"><a class="wp-block-button__link has-primary-color has-text-color has-link-color wp-element-button">Back to Homepage</a></div>
<!-- /wp:button -->

<!-- wp:button {"textColor":"primary","width":50,"className":"is-style-outline","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline"><a class="wp-block-button__link has-primary-color has-text-color has-link-color wp-element-button">Join Our Newsletter</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:image {"id":24566,"linkDestination":"custom"} -->
<figure class="wp-block-image"><a href="https://www.instagram.com/kateandtoms/"><img src="https://kateandtoms.com/wp-content/uploads/2024/11/Instagram-White_Red.png" alt="instagram-logo" class="wp-image-24566"/></a></figure>
<!-- /wp:image -->

<!-- wp:image {"id":24565,"linkDestination":"custom"} -->
<figure class="wp-block-image"><a href="https://tiktok.com/kateandtoms/"><img src="https://kateandtoms.com/wp-content/uploads/2024/11/TikTok-White_Red.png" alt="pinterest-logo" class="wp-image-24565"/></a></figure>
<!-- /wp:image -->

<!-- wp:image {"id":24563,"linkDestination":"custom"} -->
<figure class="wp-block-image"><a href="https://facebook.com/kateandtoms"><img src="https://kateandtoms.com/wp-content/uploads/2024/11/Facebook-White_Red.png" alt="facebook-logo" class="wp-image-24563"/></a></figure>
<!-- /wp:image -->

<!-- wp:image {"id":24565,"linkDestination":"custom"} -->
<figure class="wp-block-image"><a href="https://uk.pinterest.com/kateandtoms/"><img src="https://kateandtoms.com/wp-content/uploads/2024/11/Pinterest-White_Red.png" alt="pinterest-logo" class="wp-image-24565"/></a></figure>
<!-- /wp:image -->

<!-- wp:image {"id":24565,"linkDestination":"custom"} -->
<figure class="wp-block-image"><a href="https://www.youtube.com/channel/UCSInLWpLRtqfpuMQqAVUNgw/"><img src="https://kateandtoms.com/wp-content/uploads/2024/11/YouTube-White_Red.png" alt="pinterest-logo" class="wp-image-24565"/></a></figure>
<!-- /wp:image -->

<!-- wp:image {"id":24565,"linkDestination":"custom"} -->
<figure class="wp-block-image"><a href="https://uk.linkedin.com/company/kate-and-toms/"><img src="https://kateandtoms.com/wp-content/uploads/2024/11/LinkedIn-White_Red.png" alt="pinterest-logo" class="wp-image-24565"/></a></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"categories":["house-card-search"],"patternName":"katomswold/houses-you-may-also-like","name":"Houses You May Also Like"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|50","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-secondary-background-color has-background" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"fontSize":"x-large"} -->
<h3 class="wp-block-heading has-text-align-center has-x-large-font-size" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);font-style:normal;font-weight:300">Houses you may also like...</h3>
<!-- /wp:heading -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:kate-toms-core/kateandtoms-single-house {"selectedPostId":14767} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:kate-toms-core/kateandtoms-single-house {"selectedPostId":34215} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:kate-toms-core/kateandtoms-single-house {"selectedPostId":81970} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:kate-toms-core/kateandtoms-single-house {"selectedPostId":16914} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"katomswold"} /-->